


<head>
<%= stylesheet_link_tag 'frontpage', media: 'all'%>
<style>


h1{
    padding-top:10%;
    text-align: left;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2F3F5F;
   
    font-size: 5rem ;
   
    
}
</style>


</head>


<body>

<%= render '/layouts/navbar' %>

<div class="container-fluid" >
    <div class="row" id="one">
        <div class="col-lg-6">
            
<h1 class="left">
Buy, trade, and sell @ Brandeis.

</h1>
        </div>

        <div class="col-lg-6">
        <h1>
           


</h1>
<div style=" padding-top:20%; ">

        </div>
        
    </div>
</div>


</div>



 <div class="container-fluid" >
 
   <div class="row" id="two">
        <div class="col-lg-6 left">
            
<h1  style="font-size: 3.4rem">
What is buyDeis?

</h1>       
<p>
buyDeis is an application designed to provide the Brandeis student body with a space for trading/selling items that they are no longer in need of. It is also a platform where students can connect with each other through their presence of the creations/goods that they sell online. 

</p>
<br/>

 <button type="button" href="google.com" class="btn btn-primary"> Get Started  </button>

      </div>
        
        <div class="col-lg-6">
     
<div class="right">
<%= image_tag ("humans.png")%>
</div>
     <div style=" padding-top:20%; "></div>
        </div>
       
    </div>

</div>





<div class="container-fluid" >
 
   <div class="row " id="two">
        <div class="col-lg-6 left">
            

            <%= image_tag ("product.png")%>

        </div>
        
        <div class="col-lg-6">
       

            <div class="right" >
                <h1>
                Find the products you love.

                </h1>       
                <p>
                Looking to buy something you need here at Brandeis? Buy a product quickly and hassle-free locally from your peers at university.
                </p>
<br/>
           <button type="button" href="google.com" class="btn btn-primary"> Shop Now  </button>
</div>

            <div style=" padding-top:20%; "></div>
        </div>
       
    </div>

</div>






 <div class="container-fluid" >
 
   <div class="row" id="two">
        <div class="col-lg-6 left">
            
<h1  >
Give your uneeded items a new home. 

</h1>       
<p>
Create a product posting and share it with the people at your university. 
</p>
<br/>


 <button type="button" href="google.com" class="btn btn-primary"> Post Your Product </button>
      </div>
        
        <div class="col-lg-6">
     
<div class="right">
<%= image_tag ("brandeis.png")%>
</div>
     <div style=" padding-top:20%; "></div>
        </div>
       
    </div>

</div>






<div class="container-fluid" >
 
   <div class="row " id="two">
        <div class="col-lg-6 left">
            

            <%= image_tag "message.png",  style: 'height:auto;max-width:93%;' %>

        </div>
        
        <div class="col-lg-6">
       

            <div class="right" >
                <h1 >
               Network with other Brandeis creatives

                </h1>       
                <p>
     Chat with students about a product, or find and connect with Brandeis creatives on the platform. 
                </p>
<br/>
           <button type="button" href="google.com" class="btn btn-primary"> Sign up  </button>
</div>

            <div style=" padding-top:20%; "></div>
        </div>
       
    </div>

</div>


<div class="container-fluid" >

<h1 style="text-align:center">
Our Team
</h1>

   <div class="row " >


   </div>




</div>




</body>

