



           
<div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
    <div class="selected-user"> 
<span> To:&nbsp <span class="name-time">

<% if @conversation.participants[0] == current_user  %> 
  <%=link_to  "#{@conversation.participants[1].username}", @conversation.participants[1]%>
<%else%>
<%=link_to  "#{@conversation.participants[0].username}", @conversation.participants[0] %>
<%end%>

<div style="border-bottom: 1px solid #e6ecf3;" ></div> 
</span></span>



</div>
<h1> <% @conversation.subject %> </h1>
<% @conversation.receipts_for(current_user).each do |receipt| %>
	<div>
		<div class="row no-gutters" style="border:none;background:none">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
				<div class="selected-user">
					</span>
					</span>
				</div>
				<div class="chat-container">
					<ul class="chat-box chatContainerScroll">
						<% if current_user.username ==  receipt.message.sender.username %> 
							<li class="chat-right">
								<div class="chat-text">
									<%= receipt.message.body %>
								</div>
								<div class="chat-avatar"> 


                            
									  
            <% if current_user.image.present? %>
           

     <%= image_tag(User.where(id: session[:user_id]).first.image, class:"card-img-top")%>
             <% else %>
            <%= image_tag('default.png', class:"card-img-top") %> 
            <%end%>
               

       

          

        
                                    <div class="chat-name"> you </div>
								</div>
							</li>




                            
							<%else%>
								<li class="chat-left">
									<div class="chat-avatar"> 



                                             <% if receipt.message.sender.image.present? %>
            
              <%= image_tag(receipt.message.sender.image, class:"card-img-top")%> 
                <% else %>
                 <%= image_tag('default.png', class:"card-img-top") %> 
                 <%end%>

                 


										<div class="chat-name">
											<%= receipt.message.sender.username %>
										</div>
									</div>
									<div class="chat-text">
										<%= receipt.message.body %>
									</div>
								</li>
								<%end%>
				</div>
			</div>
		</div>
        
	</div>
    
	</ul>
    
	<% end %>
		<%= form_tag conversation_messages_path(@conversation), method: :post do %>
			<div>
            
				<%= text_area_tag :body %>
			</div>
            
			<%= submit_tag %>
				<% end %>

                