<% User.all.order('created_at DESC').each_slice(3)  do |users| %>
<div class="row">
 <% users.each do |user| %>
  <div class="col-md-4">
  <div class="card">
  <% if user.image.present? %>
    <%= image_tag(user.image, class:"card-img-top")%> 
 <% else %>
 <%= link_to image_tag('default.png', class:"card-img-top") %> 
<% end %>
    <div class="card-body">
      <h5 class="card-title"><%= user.first+" "+user.last %></h5>
      <p class="card-text"><%= user.username%></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= user.email %></small>
    </div>
    
  </div>
</div>
<% end %>
</div>
<% end %>


