<%= stylesheet_link_tag 'users', media: 'all'%>
<div class="container">
  <main>
    <div class="row">
        <div class="center">
            <div class="photo-left">
                <div class="photo">
                    <% if current_user.image.present? %>
                        <%= image_tag(User.where(id: session[:user_id]).first.image, class:"img-responsive" )%> 
                    <% else %>
                        <%= link_to image_tag('default.png', class:"card-img-top") %> 
                    <% end %>
                </div>
            </div>
            <h4 class="name"><%= current_user.first + " "+current_user.last%></h4>
            <p class="info">@<%= current_user.username %></p>
            <p class="info"><%= current_user.email %></p>
            <div class="stats row">
            <div class="stat col-xs-4" style="padding-right: 50px;">
                <p class="desc-stat">
                <link_to id="btnFollowers" type="link" class="btn btn-primary" data-bs-toggle="modal"  data-toggle="modal" data-target="#followersModal">
                <%= current_user.followers.count%> Followers
                </p>
            </div>
            <p class="desc-stat">
            <link_to id="btnFollowers" type="link" class="btn btn-primary" data-bs-toggle="modal"   data-toggle="modal" data-target="#followingModal">
            <%= current_user.following.count%> Following
            </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="right col-lg-8">
            <% if current_user.stripe_user_id && !currently_due %>
                <%= link_to "Go to Stripe Dashboard", stripe_dashboard_path(current_user.id) %>
            <% elsif current_user.stripe_user_id && currently_due %>
                You still have some things due before you are finish setting up 
                <%= link_to image_tag("ConnectwithStripe.png", width:"120px", height:"40px"), stripe_create_path,  method: :post, params: {current_user: current_user}, remote: true %>
            <% else %>
                <%= link_to image_tag("ConnectwithStripe.png", width:"120px", height:"40px"), stripe_create_path,   method: :post, params: {current_user: current_user}, remote: true %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <% Product.where(user_id: session[:user_id]).order('created_at DESC').each_slice(3)  do |products| %>
            <div class="row no-gutters" id="pro">
                <% products.each do |product| %> 
                <div class="col-md-4 ">
                    <div class="card">
                        <h5 class="card-title">
                            <div class ="col-md-6 nopadding" >
                                <%= product.name %>
                            </div>
                        </h5>
                            <br>
                            <% if product.images.present? %>
                            <%= image_tag(product.images.first, class:"card-img-top")%> 
                            <% else %>
                            <%= image_tag( '/loginImage.jpg', class:"card-img-top") %> 
                             <% end %>
                             <br>
                            <div class="card-body">
                            <br>
                        
                            <div class ="col-md-6 nopadding" >
                                $<%= number_with_precision(product.price, :precision => 2)%>
                            </div>
                            
                            <div class ="col-md-6 nopadding" id="wa" >
                            <%= link_to "edit/delete", edit_product_path(product.id) ,  class: 'btn btn-primary', id:'edi' %>
                     
                            </div>
                            <br>
                            <div class ="col-md-12">
                                <p class="card-text"><%= product.description %></p>
                            </div>
                        </div>   
                    </div>
                </div>
                <% end %>
            </div>
        <% end %>
    </div>
  </main>
</div>


<div class="modal" id="followingModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">following</h5>
            </div>
            <div class="modal-body">
                <% current_user.following.each do |user| %>
                    <%= user.first %> <%= user.last %>
                    Learn more: <%=link_to "#{user.username}",user %>
                    <br>
                <%end%>
            </div>    
        </div>
    </div>
</div>
<div class="modal" id="followersModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">followers</h5>
            </div>
            <div class="modal-body">
                <% current_user.followers.each do |user| %>
                    <%= user.first %> <%= user.last %>
                    Learn more: <%=link_to  "#{user.username}",user %>
                    <br>
                <%end%>
            </div>    
        </div>
    </div>
</div>
       