<%= stylesheet_link_tag 'users', media: 'all'%>
<div class= "container" id="me">
    <div class="card"  id="userIcon" >
        <% if current_user.image.present? %>
            <%= image_tag(User.where(id: session[:user_id]).first.image, class:"card-img-top")%> 
        <% else %>
            <img class="card-img-top" src="..." alt="My profile picture">
        <% end %>
        <div class="card-body">
            <div class = "col-md-12 nopadding">
                <%= current_user.first + " "+current_user.last%>
            </div>
            <p class="card-text"> @<%= current_user.username %></p>
        </div>
    </div>
</div>
<br>
<% if current_user.stripe_user_id && !currently_due %>
<%= link_to "Go to Stripe Dashboard", stripe_dashboard_path(current_user.id) %>
<% else %>
    <%= link_to image_tag("ConnectwithStripe.png", width:"120px", height:"40px"), stripe_create_path, method: :post, params: {current_user: current_user}, remote: true %>
<% end %>
<br>
<% Product.where(user_id: session[:user_id]).order('created_at DESC').each_slice(3)  do |products| %>
    <div class="row no-gutters" id="pro">
        <% products.each do |product| %> 
        <div class="col-md-4 ">
            <div class="card">
                <h5 class="card-title">
                    <div class ="col-md-6 nopadding" >
                        <%= product.name %>
                    </div>
                </h5>
                    <br>
                    <% if product.image.present? %>
                    <%= image_tag(product.image, class:"card-img-top")%> 
                    <% else %>
                    <%= image_tag( '/loginImage.jpg', class:"card-img-top") %> 
                     <% end %>
                     <br>
                    <div class="card-body">
                    <br>
                
                    <div class ="col-md-6 nopadding" >
                        $<%= number_with_precision(product.price, :precision => 2)%>
                    </div>
                    
                    <div class ="col-md-6 nopadding" id="wa" >
                    <%= link_to "edit/delete", edit_product_path(product.id) ,  class: 'btn btn-primary', id:'edi' %>
             
                    </div>
                    <br>
                    <div class ="col-md-12">
                        <p class="card-text"><%= product.description %></p>
                    </div>
                </div>   
            </div>
        </div>
        <% end %>
    </div>
<% end %>