<%= stylesheet_link_tag 'users', media: 'all',   'data-turbolinks-eval' => false %>

<div id="container">
    <div class="row"  style="border-style: none; padding: 40px 20px 80px 20px;">
        <div class="left col-lg-4">
            <div class="photo-left">
                <div class="photo">
                    <% if current_user.image.present? %>
                        <%= image_tag(User.where(id: session[:user_id]).first.image,  class:"card-img-top" )%> 
                    <% else %>
                        <%= link_to image_tag('default.png', class:"card-img-top") %> 
                    <% end %>
                </div>
            </div>
        </div>
        
        <div class="col-xs-4" style=" padding: 40px 20px 20px 60px;">
            <h4 class="name"><%= current_user.first+" "+ current_user.last%></h4>
            <p class="info">@<%= current_user.username %></p>
            <p class="info"><%= current_user.email %></p>
            <br>
            <% current_user.average_rating.to_i.times do %>
                <span class="glyphicon glyphicon-star"></span>
            <% end %>
                <% (5- current_user.average_rating).to_i.times do  %>
                <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
            <button id="btnview" type="button" class="btn btn-primary bottombutton" data-bs-toggle="modal"  style="margin-left:5%, " data-toggle="modal" data-target="#myModal">
                <%= Rating.where(user_id: current_user.id).length%>
            </button>
            <br>
            <br>
            
            <div class="stats row"  style="border-style: none">
                <div class="stat col-xs-5" style="margin-left: -10%" >
                    <p class="desc-stat">
                    <link_to id="btnFollowers" type="link" class="info" data-bs-toggle="modal"  style= "font-size: 1.2vw" data-toggle="modal" data-target="#followersModal">
                    <%= current_user.followers.count%><br> Followers</p>
                </div>

                <div class="stat col-xs-5" style="margin-left: 15%">
                    <p class="desc-stat">
                    <link_to id="btnFollowers" type="link" class="info" data-bs-toggle="modal"  style= "font-size: 1.2vw" data-toggle="modal" data-target="#followingModal">
                    <%= current_user.following.count%> <br>Following</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row"  style="border-style: none; padding: 20px 0px 80px 20px;">
        <% Product.where(user_id: current_user.id).order('created_at DESC').each_slice(3)  do |products| %>
                <% products.each do |product| %> 
                    <div class="col-md-4" id="c">
                        <div class="card" >
                            <h5 class="card-title">
                                <div class ="col-md-6 nopadding" >
                                    <%= product.name %>
                                </div>
                            </h5>
                            <br>
                            <% if product.images.present? %>
                                <%= image_tag(product.images.first, class:"card-img-top")%> 
                            <% else %>
                                <%= image_tag( '/loginImage.jpg', class:"card-img-top") %> 
                            <% end %>
                            <br>
                            <div class="card-body">
                                <br>
                                <div class ="col-md-6 nopadding" >
                                    $<%= number_with_precision(product.price, :precision => 2)%>
                                </div>  
        
                                <div class ="col-md-12">
                                    <p class="card-text"><%= product.description %></p>
                                </div>
                            </div>   
                        </div>
                    </div>
                <% end %>
        <% end %>
    </div>
</div>


<div class="modal" id="followingModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Following</h5>
            </div>
            <div class="modal-body">
                <% current_user.following.order('created_at DESC').each_slice(1) do |users| %>
                    <div class="row">
                        <% users.each do |user| %>
                        <div class="col-md-8">
                            <div class="card">
                                <% if user.image.present? %>
                                <%= image_tag(user.image, class:"card-img-top")%> 
                                <% else %>
                                <%= link_to image_tag('default.png', class:"card-img-top") %> 
                                <% end %>
                                <div class="card-body">
                                <h5 class="card-title"><%= user.first+" "+user.last %></h5>
                                <p class="card-text"><%= user.username%></p>
                                </div>
                                Learn more: <%=link_to  "#{user.username}",user %>
                                <br>
                            </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
           

<div class="modal" id="followersModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">followers</h5>
            </div>
            <div class="modal-body">
                <% current_user.followers.order('created_at DESC').each_slice(1) do |users| %>
                    <div class="row">
                        <% users.each do |user| %>
                        <div class="col-md-8">
                            <div class="card">
                                <% if user.image.present? %>
                                <%= image_tag(user.image, class:"card-img-top")%> 
                                <% else %>
                                <%= link_to image_tag('default.png', class:"card-img-top") %> 
                                <% end %>
                                <div class="card-body">
                                <h5 class="card-title"><%= user.first+" "+user.last %></h5>
                                <p class="card-text"><%= user.username%></p>
                                </div>
                                Learn more: <%=link_to  "#{user.username}",user %>
                                <br>
                            </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
                               
