<!DOCTYPE html>
<html>
  <head>
    <title>Create Account</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'createUser', media: 'all',
                                           'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>


  <body>
    <div class="container"><h1>buyDeis</h1></div>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 nopadding" >
            <image class="img-responsive" src="/loginImage.jpg" style="max-height:100%;width:100%">
            
            </div>
            <div class="col-md-6 nopadding" id="info">
                <h2>Create your account</h2>
                <%= render 'form', user: @user %>
                <h5> Already have an account? <%= link_to 'log in', login_path %></h5>
            </div>
        </div>
    </div>
     
  </body>
</html>

