<%= stylesheet_link_tag 'profile', media: 'all'%>
<div class= "container" id="me">
<div class="card"  id="userIcon" >
 <% if @user.image.present? %>
    <%= image_tag(@user.image, class:"card-img-top")%> 
 <% else %>
  <%= link_to image_tag('default.png', class:"card-img-top") %> 
<% end %>
    <div class="card-body">
        <div class = "col-md-12 nopadding">
        <%= @user.first + " "+ @user.last%>
        </div>
       
        <p class="card-text"> @<%= @user.username %></p>
    </div>
</div>
</div>
<br>
<% Product.where(user_id: @user.id).order('created_at DESC').each_slice(3)  do |products| %>
    <div class="row no-gutters" id="pro">
        <% products.each do |product| %> 
        <div class="col-md-4 ">
            <div class="card">
                <h5 class="card-title">
                    <div class ="col-md-6 nopadding" >
                        <%= product.name %>
                    </div>
                </h5>
                    <br>
                    <% if product.image.present? %>
                    <%= image_tag(product.image, class:"card-img-top")%> 
                    <% else %>
                    <%= image_tag( '/loginImage.jpg', class:"card-img-top") %> 
                     <% end %>
                     <br>
                    <div class="card-body">
                    <br>
                
                    <div class ="col-md-6 nopadding" >
                        $<%= number_with_precision(product.price, :precision => 2)%>
                    </div>
                    
                    <div class ="col-md-6 nopadding" id="wa" >
                    <%= link_to "edit/delete", edit_product_path(product.id) ,  class: 'btn btn-primary', id:'edi' %>
             
                    </div>
                    <br>
                    <div class ="col-md-12">
                        <p class="card-text"><%= product.description %></p>
                    </div>
                </div>   
            </div>
        </div>
        <% end %>
    </div>
<% end %>