<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Name:</strong>
  <%= @user.name %>
=======
  <strong>First:</strong>
  <%= @user.first %>
</p>
<p>
  <strong>Last:</strong>
  <%= @user.last %>
>>>>>>> 74637a3e1ed78fd0f38b7c5868225dda58cd0958
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
