<%= stylesheet_link_tag 'users', media: 'all'%>

<div id="container">
    <div class="row"  style="border-style: none; padding: 40px 20px 50px 20px;">
        <div class="left col-lg-4">
            <div class="photo-left">
                <div class="photo">
                    <% if @user.image.present? %>
                        <%= image_tag(User.where(id: session[:user_id]).first.image, class:"card-img-top")%> 
                    <% else %>
                        <%= link_to image_tag('default.png', class:"card-img-top") %> 
                    <% end %>
                </div>
            </div>
        </div>
        
        <div class="col-xs-4" style=" padding: 40px 20px 20px 60px;">
            <h4 class="name"><%= @user.first+" "+@user.last%></h4>
            <p class="info">@<%= @user.username %></p>
            <p class="info"><%= @user.email %></p>
            <br>
            <% @user.average_rating.to_i.times do %>
                <span class="glyphicon glyphicon-star"></span>
            <% end %>
                <% (5- @user.average_rating).to_i.times do  %>
                <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
            <button id="btnview" type="button" class="btn btn-primary bottombutton" data-bs-toggle="modal"  style="margin-left:10%, " data-toggle="modal" data-target="#myModal">
                <%= Rating.where(user_id: @user.id).length%>
            </button>
            <div class="modal" id="myModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Reviews</h5>
                        </div>
                        <div class="modal-body">

                            <% Rating.where(user_id: @user.id).each do |rate| %>
                                <div id="container">
                                @<%= User.where(id: rate.reviewer_id).first.username %>
                                <br>
                                <% rate.rating_number.times do %>
                                    <span class="glyphicon glyphicon-star"></span>
                                <% end %>
                                    <% (5- rate.rating_number).times do  %>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                <% end %>
                                <br>
                                <%= rate.comment %>
                                </div>
                            <%end%>
                        </div>    
                    </div>
                </div>
            </div>
            <br>
            <br>
            
            <div class="stats row"  style="border-style: none">
                <div class="stat col-xs-5" style="margin-left: -10%" >
                    <p class="desc-stat">
                    <link_to id="btnFollowers" type="link" class="info" data-bs-toggle="modal"  style= "font-size: 1.2vw" data-toggle="modal" data-target="#followersModal">
                    <%= @user.followers.count%><br> Followers</p>
                </div>

                <div class="stat col-xs-5" style="margin-left: 15%">
                    <p class="desc-stat">
                    <link_to id="btnFollowers" type="link" class="info" data-bs-toggle="modal"  style= "font-size: 1.2vw" data-toggle="modal" data-target="#followingModal">
                    <%= @user.following.count%> <br>Following</p>
                </div>
            </div>
            <div class="row"  style="border-style: none">
                <%if current_user && @user.bought_from_me?(current_user)&& !@user.rated_already(current_user)%>
                    <button id="btnStart" type="button" class="btn btn-primary bottombutton" data-bs-toggle="modal" data-target="#formModal"  style= "font-size: 12pt" data-toggle="modal" data-target="#formModal">
                        Leave Review
                    </button>  
                <div class="modal" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"  aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="formModalLabel">Review this seller</h3>  
                            </div>
                            <div class="modal-body">
                                <%= render '/ratings/form', remote:true, rating: @rating%>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <%end%>
            </div>
        </div>

        <div class="col-xs-3" style=" padding: 40px 20px 20px 60px">
            <% if current_user && current_user != @user%>
                <%= render 'follow_form' %>
                <%= link_to "Message", conversations_path(user_id: @user.id, body: "hello", subject: "hello!"), method: 'post', class: 'btn btn-primary bottombutton',  style: "font-size: 1.6vw; margin-left:25%" %>
            <%end%>
        </div>
    </div>
    <div class="row"  style="border-style: none; padding: 0px 0px 60px 0px;">
        <% Product.where(user_id: @user.id).order('created_at DESC').each_slice(3)  do |products| %>
                <% products.each do |product| %> 
                    <div class="col-md-4" id="c">
                        <div class="card" >
                            <h5 class="card-title">
                                <div class ="col-md-6 nopadding" >
                                    <%= product.name %>
                                </div>
                            </h5>
                            <br>
                            <% if product.images.present? %>
                                <%= image_tag(product.images.first, class:"card-img-top")%> 
                            <% else %>
                                <%= image_tag( '/loginImage.jpg', class:"card-img-top") %> 
                            <% end %>
                            <br>
                            <div class="card-body">
                                <br>
                                <div class ="col-md-6 nopadding" >
                                    $<%= number_with_precision(product.price, :precision => 2)%>
                                </div>  
                                <div class ="col-md-6 nopadding" id="lik">
                                    <%= link_to "Message", conversations_path(user_id: product.user_id, body: "I want to buy your product", subject: product.name ), method: 'post', class: 'btn btn-primary bottombutton' %>
                                 </div>
                                <br>
                                <div class ="col-md-12">
                                    <p class="card-text"><%= product.description %></p>
                                </div>
                            </div>   
                        </div>
                    </div>
                <% end %>
        <% end %>
    </div>
</div>


<div class="modal" id="followingModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Following</h5>
            </div>
            <div class="modal-body">
                <% @user.following.order('created_at DESC').each_slice(1) do |users| %>
                    <div class="row"  style="border-style: none">
                        <% users.each do |user| %>    
                        <div class="left col-lg-4">
                            <div class="photo-left">
                                <div class="photo">
                                    <% if user.image.present? %>
                                        <%= image_tag(user.image, class:"card-img-top")%> 
                                            <% else %>
                                        <%= link_to image_tag('default.png', class:"card-img-top") %> 
                                    <% end %>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-4">
                            <h4 class="name"><%= user.first+" "+user.last%></h4>
                            Learn more: <%=link_to  "#{user.username}",user %>
                        </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
           

<div class="modal" id="followersModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Followers</h5>
            </div>
            <div class="modal-body">
                <% @user.followers.order('created_at DESC').each_slice(1) do |users| %>
                    <div class="row"  style="border-style: none">
                        <% users.each do |user| %>    
                        <div class="left col-lg-4">
                            <div class="photo-left">
                                <div class="photo">
                                    <% if user.image.present? %>
                                        <%= image_tag(user.image, class:"card-img-top")%> 
                                            <% else %>
                                        <%= link_to image_tag('default.png', class:"card-img-top") %> 
                                    <% end %>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-xs-4">
                            <h4 class="name"><%= user.first+" "+user.last%></h4>
                            Learn more: <%=link_to  "#{user.username}",user %>
                        </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
                               



