<div class ="container">
<div class ="row">

<div class ="col-md-3">
    <h4>Price</h4>
    <% @producss.aggs["price"]["buckets"].sort_by{ |b| b["key"] }.each do |bucket|%>
       <% if params[:price_from] == bucket["from"].to_s && params[:price_to] == bucket["to"].to_s%>
          <strong><%= link_to price_range_name(bucket), request.params.except(:price) %></strong>
        <% else %>
          <%= link_to price_range_name(bucket), request.params.merge(price_from: bucket["from"], price_to: bucket["to"]) %>
        <% end %>
         (<%= bucket["doc_count"]%>)
         <br>
    <% end%>
    </div>
    <div class ="col-md-3">
    <h4>Condition</h4>
    <% @producss.aggs["condition"]["buckets"].sort_by{ |b| b["key"] }.each do |bucket|%>
        <% if params[:condition] == bucket["key"].to_s%>
         <strong><%= link_to bucket["key"], request.params.except(:condition) %></strong>
        <% else %>
          <%= link_to bucket["key"], request.params.merge(condition: bucket["key"]) %>
        <% end %>
         (<%= bucket["doc_count"]%>)
         <br>
    <% end%>
    </div>
    <div class ="col-md-3">
    <h4>Category</h4>
    <%  @producss.aggs["category_id"]["buckets"].sort_by{ |b| Category.find(b["key"]).name }.each do |bucket|%>
        <% if params[:category_id] == bucket["key"]%>
             <strong><%= link_to bucket["key"], request.params.except(:category_id) %></strong>
        <% else %>
          <%= link_to Category.find(bucket["key"]).name, request.params.merge(category_id: bucket["key"]) %>
        <% end %>
         (<%= bucket["doc_count"]%>)
         <br>    
    <% end%>
    </div>
    <div class ="col-md-3">
    <h4>Date Created</h4>
    <% @producss.aggs["date"]["buckets"].sort_by{ |b| b["key"] }.reverse.each do |bucket|%>
      <% if params[:date] == bucket["key"]%>
             <strong><%= link_to bucket["key"], request.params.except(:date) %></strong>
        <% else %>
          <%= link_to  bucket["key"], request.params.merge(date: bucket["key"]) %>
        <% end %>
         (<%= bucket["doc_count"]%>)
         <br>    
    <% end%>
    </div>
 </div >
 </div>