
    <div class ="row">
        <div class ="col-md-3">
            <h5>Price</h5>
            <% @producss.aggs["price"]["buckets"].sort_by{ |b| b["key"] }.each do |bucket|%>
                <p>
                    <% if params[:price_from] == bucket["from"].to_s && params[:price_to] == bucket["to"].to_s%>
                        <strong><%= link_to price_range_name(bucket), request.params.except(:price) %></strong>
                    <% else %>
                        <%= link_to price_range_name(bucket), request.params.merge(price_from: bucket["from"], price_to: bucket["to"]) %>
                    <% end %>
                    (<%= bucket["doc_count"]%>)
                </p>
            <% end%>
        </div>
        <div class ="col-md-3">
            <h5>Condition</h5>
            <% @producss.aggs["condition_id"]["buckets"].sort_by{ |b| Condition.find(b["key"]).name }.each do |bucket|%>
                <p>
                    <% if params[:condition_id] == bucket["key"]%>
                        <strong><%= link_to bucket["key"], request.params.except(:condition_id) %></strong>
                    <% else %>
                        <%= link_to Condition.find(bucket["key"]).name, request.params.merge(condition_id: bucket["key"]) %>
                    <% end %>
                    (<%= bucket["doc_count"]%>)
                </p>
            <% end%>
        </div>
        <div class ="col-md-3">
            <h5>Category</h5>
            <%  @producss.aggs["category_id"]["buckets"].sort_by{ |b| Category.find(b["key"]).name }.each do |bucket|%>
                <p>
                    <% if params[:category_id] == bucket["key"]%>
                        <strong><%= link_to bucket["key"], request.params.except(:category_id) %></strong>
                    <% else %>
                        <%= link_to Category.find(bucket["key"]).name, request.params.merge(category_id: bucket["key"]) %>
                    <% end %>
                    (<%= bucket["doc_count"]%>)
                </p>    
            <% end%>
        </div>
        <div class ="col-md-3">
            <h5>Date Posted </h5>
            <% @producss.aggs["date"]["buckets"].sort_by{ |b| b["key"] }.reverse.each do |bucket|%>
                <p>
                    <% if params[:date] == bucket["key"]%>
                        <strong><%= link_to bucket["key"], request.params.except(:date) %></strong>
                    <% else %>
                        <%= link_to  bucket["key"], request.params.merge(date: bucket["key"]) %>
                    <% end %>
                    (<%= bucket["doc_count"]%>)
                </p>    
            <% end%>
        </div>
    </div >
