
<%if @message  %>
<%= flash[:alert] = @message %> 
<%end%>
<%= stylesheet_link_tag 'likes', media: 'all'%>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script>



</script>




<%if !@products || @products.length == 0 %>
<%= flash[:alert] = "Sorry we couldn't find the product you were looking for" %>
  <% @products =Product.all %>
<%end%>
<% if current_user %>
  <%@products = current_user.feed(@products)%>
<%end%>

<% @products.each_slice(3)  do |products| %>
    <div class="row " >
     <% products.each do |product| %> 
  <div class="col-md-4 " id="c" >
            <div class="card" >
               
             
                  <% if product.images.present? %>
                    <%= image_tag(product.images.first, class:"card-img-top")%> 
                  <% else %>
                    <%= image_tag( '/loginImage.jpg', class:"card-img-top") %> 
                  <% end %>
                <div class="card-body" >
             

 <h5 class="card-title">
                 <div class ="col-md-6 nopadding" >
                   <%= product.name %>
                   </div>
                    <%if current_user &&  product.user != current_user || !current_user%>
                   <div class ="col-md-6 nopadding" id="lik">
                   <%= link_to "@#{(User.find(product.user_id)).username}", user_path(product.user_id) if User.where(id: product.id)!= [] %>
                   </div>
                  <%else%>
                  <%if current_user &&  product.user == current_user %>
                    <span style="float:right"> @you </span>
                  <% end %>
              <% end %>
                 </h5>




                
                <div class ="col-md-6 nopadding">
                
                <%if current_user &&  product.user != current_user%>
         <%#       <%= link_to "Message", conversations_path(user_id: product.user_id, body: "I want to buy your product", subject: product.name ), method: 'post', class: 'btn btn-primary' %>
                </div>
<br>




                <div style="float:left;width: 50%; display: inline-block;"> $<%= number_with_precision(product.price, :precision => 2)%> </div>
               <br/>  

 <div class ="col-md-6 nopadding" id="lik" style="margin-right:-3%;margin-top:-5%">

<%= button_to product_like_path(product), params: {id: product.id }, id:"likebutton" do %>
<span><div class="heart" data-id="ID1"> <i id="heart_icon" class="fa fa-heart fa-1x"> &nbsp</i><%= product.votes_for.size %>  </div>  </span>
<%end%>
</div> 

               
               <%if false%>        
                   <div class ="col-md-6 nopadding" id="lik" style="margin-top:-5%;margin-right:-5%">
                             
                     <%= button_to product_like_path(product), params: {id: product.id },  id:"heartbutton", remote: true do %>

<span id = heart><i class="fa fa-heart-o" aria-hidden="true" > </i> <%= product.votes_for.size %></span>
</div>
<% end %><% end %>



               
              


             
                   <div class ="col-md-12" style="text-align:left;">
                    <p class="card-text"><%= link_to 'learn more', product_path(id: product.id ) %>    </p>
                    
                    <span style="margin-left:-1%;float:left;"> <%= button_to 'buy now', checkout_create_path,params: {id: product.id }, remote: true, class: "bottombutton" %></span>
                  
                    <div class="col-md-6 nopadding" id="lik" style="margin-right:-4%;margin-top:2%">
          <%= link_to "Message", conversations_path(user_id: product.user_id, body: "I want to buy your product", subject: product.name ), method: 'post', class: 'btn btn-primary bottombutton' %>
         <div class="padd"></div>
          </div>
               </div> 
              
     
                <% else %> 
                  </div>
<br>




                  <div style="float:left; display: inline-block;"> $<%= number_with_precision(product.price, :precision => 2)%> </div>
                         
                   <div class ="col-md-6 nopadding" id="lik" style="margin-right:-3%;margin-top:-5%">

<%= button_to product_like_path(product), params: {id: product.id }, id:"likebutton" do %>
<span><span class="heart" data-id="ID1"> <i id="heart_icon" class="fa fa-heart fa-1x"> &nbsp</i><%= product.votes_for.size %>  </span>  </span>
<% end %>




             <%if false%>                       
               <%= button_to product_like_path(product), params: {id: product.id }, id:"heartbutton", remote: true do %>
<span id = heart><i class='fa fa-heart-o' aria-hidden='true' style=" "></i>  <%= product.votes_for.size %> </span>
<% end %>
<% end %>

</div>



       <br/>
                
                   

                    
                   <% end %> 
            
               </div> 
            </div>
        </div>
    <% end %>
    </div>
<% end %>

