<head>

<%= stylesheet_link_tag 'welcome' %>
<meta charset="utf-8">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>



</head>
<h5> Want to add product? <%= link_to 'Add product', createProduct_path %></h5>

<div class ="container">
<%= render '/products/listAll' %>
</div >