
<%= form_for (@rating), :html => { id: dom_id(@rating) } do |form| %>
    <% if rating.errors.any? %>
        <div class="alert alert-danger"id="err">
            <h2><%= pluralize(rating.errors.count, "error") %> prohibited this product from being saved:</h2>
            <ul>
                <% rating.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="form-group ">
        <%= form.label :"Rating", class: "control-label" %> 
        <%= form.text_field :rating_number, class: "form-control" %>
    </div>
   
    <%= form.hidden_field :user_id, value: @rating.user_id %>
   
    <%= form.hidden_field :reviewer_id, value: current_user.id %>
    <div class="form-group ">
        <%= form.label :comment, class: "control-label" %> 
        <%= form.text_field :comment, class: "form-control" %>    
    </div>
    <div class = "actions">
        <%= form.submit :submit, class: 'btn btn-primary' %>
    </div>
<%end%>

