<p id="notice"><%= notice %></p>

<h1>Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Reviewer</th>
      <th>Reviewed</th>
      <th>Rating</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= User.where(id: rating.reviewer_id ).first%></td>
        <td><%= User.where(id: rating.user_id ).first.username%></td>
        <td><%= rating.rating_number%></td>
        <td><%= rating.comment%></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>


