<% if false %>
<h1> Cart </h1>
<% current_cart.line_items.each do |item| %>
  <p>
    <%= item.product.name %>
    <%= item.quantity %>
    <%= link_to "remove item", item, :method => :delete, :confirm => "Are you sure?",:remote => true %>
    
<% end %>

<%= button_to "Checkout", checkout_create_path,params: {id: nil}, remote: true %> %>

<%end%>


<h1>Shopping Cart</h1>

<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

<% current_cart.line_items.each do |item| %>
  <div class="product">
    <div class="product-image">
      <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
    </div>
    <div class="product-details">
      <div class="product-title">    <%= item.product.name %> </div>
      <p class="product-description"><%= item.product.description %> </p>
    </div>
    <div class="product-price">  <%= item.price %></div>
    <div class="product-quantity">
  <%= item.quantity %>
    </div>
    <div class="product-removal">
      <button class="remove-product">
         <%= link_to "remove item", item, :method => :delete, :confirm => "Are you sure?",:remote => true %>
      </button>
    </div>
    <div class="product-line-price">  price based on quantity<%= item.quantity %> times <%= item.price %> </div>
  </div>

  

  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">71.97</div>
    </div>
    <div class="totals-item">
      <label>Tax (8%)</label>
      <div class="totals-value" id="cart-tax">3.60</div>
    </div>
   
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">90.57</div>
    </div>
  </div>
   <% end %>   

      <%= button_to "Checkout", checkout_create_path,params: {id: nil}, remote: true, class: "checkout" %>





</div>