<% Product.all.order('created_at DESC').each_slice(3)  do |products| %>
<div class="row " >
 <% products.each do |product| %> 
  <div class="col-md-4 " >
        <div class="card">
            <h5 class="card-title">
             <div class ="col-md-6 nopadding" >
               <%= product.name + " " +Category.where(id: product.category_id).first.name%>
               </div>
               <div class ="col-md-6 nopadding" id="pri">
                @<%= User.where(id: product.user_id).first.username %>
               </div>
             </h5>
             <br>
              <% if product.image.present? %>
                <%= image_tag(product.image, class:"card-img-top")%> 
              <% else %>
                <%= image_tag( '/loginImage.jpg', class:"card-img-top") %> 
              <% end %>
            <div class="card-body">
            <br>
            <div class ="col-md-6 nopadding">
            <%if session[:user_id] %>
            <%= link_to "Message", conversations_path(user_id: product.user_id, body: "I want to buy your product", subject: product.name ), method: 'post', class: 'btn btn-primary' %>
             <% end %> 
               </div>
               <div class ="col-md-6 nopadding" id="pri">
                 $<%= number_with_precision(product.price, :precision => 2)%>
               </div>
               <br>
               <div class ="col-md-12">
                <p class="card-text"><%= product.description %></p>
                </div>
            </div>
            
        </div>
    </div>
<% end %>
</div>
<% end %>