<% products.each_slice(3)  do |productss| %>
  <div class="row "id="allpro" >
    <% productss.each do |product| %> 
      <div class="col-md-4 " id="c" >
        <div class="card" >
          <% if product.images.present? %>
            <%= image_tag(product.images.first, class:"card-img-top")%> 
          <% else %>
            <%= image_tag( '/loginImage.jpg', class:"card-img-top") %> 
          <% end %>
          <div class="card-body" >
            <h5 class="card-title">
              <div class ="col-md-6 nopadding" >
                <%= product.name %>
              </div>
              <%if current_user &&  product.user == current_user %>
                <div class ="col-md-6 nopadding" >
                  <span  style="float:right"> @you </span>
                </div>
              <%elsif current_user %>
                <div class ="col-md-6 nopadding" id="lik">
                  <%= link_to "@#{(User.find(product.user_id)).username}", user_path(product.user_id) if User.where(id: product.user_id)!= [] %>
                </div>
              <% end %>
            </h5> 
            <div class ="col-md-6 nopadding">
            </div> 
                   
            <div style="float:right;text-align:right;width: 50%; display: inline-block;"> $<%= number_with_precision(product.price, :precision => 2)%> </div>
            <br>
            <% if current_user%>
             <br/>
              <div class ="col-md-6 nopadding"  >
             
                    <%= render 'products/likes', product: product %>
              </div>
              <div class ="col-md-12" style="text-align:left;">
                <p class="card-text"><%= link_to 'learn more', product_path(id: product.id ) %>    </p>
                <span style="margin-left:-1%;float:left;"> <%= button_to 'buy now', checkout_create_path,params: {id: product.id }, remote: true, class: "bottombutton" %></span>
                <div class="col-md-6 nopadding" id="lik" style="margin-right:-4%;margin-top:2%">
                  <%= link_to "Message", conversations_path(user_id: product.user_id, body: "I want to buy your product", subject: product.name ), method: 'post', class: 'btn btn-primary bottombutton' %>
                  <div class="padd"></div>
                </div> 
              </div> 
            <%end%>  
          </div> 
        </div>
      </div> 
    <% end %>   
  </div>
<% end %> 