<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<%= stylesheet_link_tag 'product_detail', media: 'all' %>
 <div class="container-fluid" id="body">
<div class="container" id="individualProduct">
  <div class ="card" id="productcard">
    <div class = "images">
      <div class = "slider">
        <% if @product.images.present? %>
          <%= image_tag(@product.images.first)%> 
        <% else %>
            <%= image_tag('/loginImage.jpg') %> 
        <% end %>
      </div>
      <div class="img-slider">
          <div class="imgs"> <%= image_tag('/loginImage.jpg') %></div>
          <div class="imgs"> <%= image_tag('/loginImage.jpg') %></div>
          <div class="imgs"> <%= image_tag('/loginImage.jpg') %></div>  
      </div>
    </div>
    <div class = "infos">
      <h1><%= @product.name%></h1>
      <div class = "likes">likes:<%=@product.votes_for.size%></div>
      <div class ="reviews"></div>
      <div class ="price"><h3><%=@product.price%>$</h3> </div>
   
      <div class ="more-infos">
        <h5>Description</h5>
        <h5>Owner</h5>
        <h5>Stats</h5>
      </div>
      <div class ="info-content">
        <p><%=@product.description%></p>
      </div>
      <div class = "buttons">
        <button> <%= link_to raw("<i class=\"fa fa-shopping-cart \"></i>ADD TO CART"), line_items_path(product_id: @product.id), method: :post, type:"button"%></button>
     
    <%= button_to 'buy now', checkout_create_path,params: {id: @product.id }, remote: true %>
      </div>
    </div>
  </div>
</div>
</div>


